In [18]:
import json
from collections import Counter  
import ast

# Enter your keys/secrets as strings in the following fields
credentials = {}  
credentials['CONSUMER_KEY'] = 'xf96zGbBtmbXnIJBIKbhg7IQ1'
credentials['CONSUMER_SECRET'] = 'HyHYCA8gB1oGN9H5bMEotatc3AfSAMSCK2SeoFVuTdYVwxTpgY'
credentials['ACCESS_TOKEN'] = '106489559-rxeRE7aH8f9Z7V50CsHfaYeZ7DrzmaJBAmn8miNi'
credentials['ACCESS_SECRET'] = 'lJbQlDcLjOtbZNSyJ1qAVJ7jvBpBEJOHnAOoI1KPaetJj'

# Save the credentials object to file
with open("twitter_credentials.json", "w") as file:  
    json.dump(credentials, file)

In [9]:
from twython import TwythonStreamer  
import csv

# Filter out unwanted data
def process_tweet(tweet):  
    d = {}
    d['hashtags'] = [hashtag['text'] for hashtag in tweet['entities']['hashtags']]
    d['text'] = tweet['text']
    d['user'] = tweet['user']['screen_name']
    d['id'] = tweet['user']['id']
    d['user_loc'] = tweet['user']['location']
    d['followers']= tweet['user']['followers_count']
    return d


# Create a class that inherits TwythonStreamer
class MyStreamer(TwythonStreamer):     

    # Received data
    def on_success(self, data):

        # Only collect tweets in English
        if data['lang'] == 'en':
            tweet_data = process_tweet(data)
            self.save_to_csv(tweet_data)

    # Problem with the API
    def on_error(self, status_code, data):
        print(status_code, data)
        self.disconnect()

    # Save each tweet to csv file
    def save_to_csv(self, tweet):
        with open(r'saved_tweets_refugees_definitive.csv', 'a') as file:
            writer = csv.writer(file)
            writer.writerow(list(tweet.values()))

In [10]:
# Instantiate from our streaming class
stream = MyStreamer(creds['CONSUMER_KEY'], creds['CONSUMER_SECRET'],  
                    creds['ACCESS_TOKEN'], creds['ACCESS_SECRET'])
# Start the stream
stream.statuses.filter(track='refugees')

ChunkedEncodingError: ('Connection broken: IncompleteRead(0 bytes read)', IncompleteRead(0 bytes read))

In [14]:
import pandas as pd  
headers = ['hashtags', 'tweet', 'user_name', 'id','location', 'followers']
tweets_2 = pd.read_csv("saved_tweets_refugees_definitive.csv", header = None, names = headers)  
tweets_2.head()

,hashtags,tweet,user_name,id,location,followers
0,[],RT @charliekirk11: Did you know:\n\nThe govern...,cyelley,134876784,"California, USA",463
1,[],RT @charliekirk11: Did you know:\n\nThe govern...,metamancer,121989966,NaN,71
2,[],RT @5gBxizlCqzFrc3K: @Refugees @RefugeesChief ...,balkees51046223,1081605573383282691,Türkiye,202
3,[],RT @charliekirk11: Did you know:\n\nThe govern...,DoeAnon66,3164507364,PNW,209
4,[],RT @charliekirk11: Did you know:\n\nThe govern...,MyPrezTweets,758839025645989889,Earth,2618

In [15]:
tweets_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9370 entries, 0 to 9369
Data columns (total 6 columns):
hashtags     9370 non-null object
tweet        9370 non-null object
user_name    9370 non-null object
id           9370 non-null int64
location     5730 non-null object
followers    9370 non-null int64
dtypes: int64(2), object(4)
memory usage: 439.3+ KB

### Getting the locations

In [19]:
list_location_strings = [entry for entry in tweets.location]

In [20]:
counter_locations = Counter(list_location_strings)

In [21]:
counter_locations.most_common(250)

[(nan, 3640),
 ('United States', 326),
 ('USA', 118),
 ('Texas, USA', 105),
 ('California, USA', 102),
 ('Florida, USA', 95),
 ('Sinop, Türkiye', 66),
 ('North Carolina, USA', 42),
 ('Los Angeles, CA', 42),
 ('Washington, DC', 40),
 ('Chicago, IL', 38),
 ('Michigan, USA', 34),
 ('Texas', 33),
 ('Houston, TX', 32),
 ('Karabük, Türkiye', 32),
 ('Arizona, USA', 31),
 ('Georgia, USA', 30),
 ('Colorado, USA', 29),
 ('New Jersey, USA', 27),
 ('Canada', 27),
 ('Pennsylvania, USA', 27),
 ('New York, USA', 26),
 ('Virginia, USA', 25),
 ('Ohio, USA', 25),
 ('New York', 25),
 ('Illinois, USA', 25),
 ('Tennessee, USA', 24),
 ('Washington, USA', 24),
 ('Las Vegas, NV', 24),
 ('California', 22),
 ('New York, NY', 21),
 ('Indiana, USA', 21),
 ('Massachusetts, USA', 19),
 ('Earth', 18),
 ('London, England', 18),
 ('Louisiana, USA', 18),
 ('Austin, TX', 17),
 ('Oregon, USA', 17),
 ('Wisconsin, USA', 17),
 ('San Diego, CA', 16),
 ('Pittsburgh, PA', 16),
 ('Portland, OR', 16),
 ('المان', 16),
 ('Ontario, Canada', 16),
 ('Los Angeles', 16),
 ('Dallas, TX', 15),
 ('Kentucky, USA', 15),
 ('United Kingdom', 15),
 ('Indonesia', 15),
 ('Alabama, USA', 15),
 ('Florida', 14),
 ('Maryland, USA', 14),
 ('Minnesota, USA', 14),
 ('Oklahoma, USA', 14),
 ('Boston, MA', 13),
 ('Seattle, WA', 13),
 ('Philadelphia, PA', 13),
 ('Atlanta, GA', 13),
 ('Missouri, USA', 13),
 ('Brooklyn, NY', 13),
 ('San Antonio, TX', 12),
 ('South Carolina, USA', 11),
 ('Kansas, USA', 11),
 ('Alabama', 11),
 ('Toronto, Ontario', 11),
 ('Ohio', 11),
 ('San Francisco, CA', 11),
 ('England, United Kingdom', 10),
 ('United States of America', 10),
 ('UK', 10),
 ('Türkiye', 9),
 ('Southern California', 9),
 ('Michigan', 9),
 ('Colorado', 9),
 ('Miami, FL', 9),
 ('New Hampshire, USA', 9),
 ('Albuquerque, NM', 8),
 ('New York City', 8),
 ('Worldwide', 8),
 ('Phoenix, AZ', 8),
 ('Massachusetts', 8),
 ('Charlotte, NC', 8),
 ('East End Long Island NY', 8),
 ('CA', 8),
 ('Minneapolis, MN', 8),
 ('Global', 7),
 ('NYC', 7),
 ('Maine, USA', 7),
 ('North Carolina', 7),
 ('Mississippi, USA', 7),
 ('Washington DC', 7),
 ('PA', 7),
 ('Indiana', 7),
 ('Manhattan, NY', 7),
 ('Denver, CO', 7),
 ('Minnesota', 7),
 ('Nashville, TN', 7),
 ('Iowa, USA', 6),
 ('Rhode Island, USA', 6),
 ('Alaska', 6),
 ('Connecticut, USA', 6),
 ('Oregon', 6),
 ('Toronto', 6),
 ('Henderson, NV', 6),
 ('Georgia', 6),
 ('Washington, D.C.', 6),
 ('New Orleans, LA', 6),
 ('Scottsdale, AZ', 6),
 ('Detroit, MI', 6),
 ('St Louis, MO', 6),
 ('New Jersey', 5),
 ('Baltimore, MD', 5),
 ('Naples, FL', 5),
 ('Iraq', 5),
 ('London', 5),
 ('Planet Earth', 5),
 ('Cleveland, OH', 5),
 ('Vancouver, WA', 5),
 ('Utah, USA', 5),
 ('Santa Monica, CA', 5),
 ('Atlanta', 5),
 ('Pennsylvania', 5),
 ('SoCal', 5),
 ('Calgary, Alberta', 5),
 ('America', 5),
 ('Turkey', 5),
 ('USA ', 5),
 ('U.S.A', 5),
 ('New Mexico, USA', 5),
 ('Earth ', 5),
 ('The United States of America', 4),
 ('Las Vegas', 4),
 ('San Diego', 4),
 ('Fort Worth, TX', 4),
 ('Nebraska, USA', 4),
 ('she/her', 4),
 ('Florida ', 4),
 ('Sacramento, CA', 4),
 ('Melbourne, FL', 4),
 ('Chicago', 4),
 ('Staten Island, NY', 4),
 ('Murfreesboro, TN', 4),
 ('Orlando, FL', 4),
 ('World', 4),
 ('Columbus, OH', 4),
 ('South Jersey', 4),
 ('South Carolina', 4),
 ('Louisville, KY', 4),
 ('San Francisco', 4),
 ('AMERICA', 4),
 ('U.S.A.', 4),
 ('Tempe, AZ', 4),
 ('Alberta', 4),
 ('Northern California', 4),
 ('Illinois', 4),
 ('Idaho, USA', 4),
 ('San Francisco Bay Area', 4),
 ('Naperville, IL', 4),
 ('South East, England', 4),
 ('Buffalo, NY', 4),
 ('Miami, Florida', 4),
 ('Encinitas, CA', 4),
 ('Oakland, CA', 4),
 ('Brussels, Belgium', 4),
 ('Raleigh, NC', 4),
 ('Vermont, USA', 4),
 ('Vancouver, British Columbia', 4),
 ('Hawaii, USA', 4),
 ('Tampa, FL', 4),
 ('NY', 4),
 ('Perth, Western Australia', 4),
 ('Ottawa, Ontario', 3),
 ('Rochester, NY', 3),
 ('Knoxville, TN', 3),
 ('Tucson, AZ', 3),
 ('Orange County, CA', 3),
 ('America ', 3),
 ('texas', 3),
 ('Tennessee', 3),
 ('Stockholm, Sweden', 3),
 ('canada', 3),
 ('Gilbert, AZ', 3),
 ('Wisconsin', 3),
 ('US', 3),
 ('Occupied Potawatomi Territory', 3),
 ('Limerick, Ireland', 3),
 ('Puerto Rico, USA', 3),
 ('Mobile, AL', 3),
 ('Tokyo, Japan', 3),
 ('Minneapolis', 3),
 ('somewhere Else', 3),
 ('Virginia Beach, VA', 3),
 ('Montana, USA', 3),
 ('East of I-95', 3),
 ('Nigeria', 3),
 ('Cincinnati, OH', 3),
 ('Durham, NC', 3),
 ('Houston', 3),
 ('Oklahoma', 3),
 ('India', 3),
 ('Memphis, TN', 3),
 ('England', 3),
 ('MN', 3),
 ('New Delhi', 3),
 ('Cincinnati', 3),
 ('Galway, Ireland', 3),
 ('Texas ', 3),
 ('London, UK', 3),
 ('Cleveland, Ohio', 3),
 ('Dallas', 3),
 ('Gainesville, FL', 3),
 ('Seattle, Washington', 3),
 ('Alaska, USA', 3),
 ('New England', 3),
 ('Flying around USA', 3),
 ('Everywhere', 3),
 ('West Virginia, USA', 3),
 ('Hawaii', 3),
 (' USA', 3),
 ('Toronto, Canada', 3),
 ('South Bend, IN', 3),
 ('Addu City Maldives ', 3),
 ('Mars', 3),
 ('North America', 3),
 ('France 92', 3),
 (' The world🌎', 3),
 ('Rhode Island', 3),
 ('Arlington, VA', 3),
 ('Austin, Texas', 3),
 ('Frisco, TX', 3),
 ('los angeles', 3),
 ('Nevada, USA', 3),
 ('Germany', 3),
 ('South Florida', 3),
 ('Arizona', 3),
 ('Alberta, Canada', 3),
 ('College Station, TX', 3),
 ('Oklahoma City, OK', 3),
 ('Montréal, Québec', 3),
 ('St Paul, MN', 3),
 ('Northwest MONTANA', 3),
 ('Bronx, NY', 3),
 ('Utah', 3),
 ('Portland, Oregon', 3),
 ('arlington va', 3),
 ('Bakersfield, CA', 3),
 ('Mogadishu', 3),
 ('Bristol, England', 3),
 ('Olive Branch, MS', 3),
 ('Delaware, USA', 3)]

In [22]:
df_location_2 = pd.DataFrame.from_dict(counter_locations, orient='index').reset_index()
df_location_2 = df_location_2.rename(columns={'index':'locations', 0:'count'})
df_location_2.head()

         locations  count
0  California, USA    102
1              NaN   3640
2          Türkiye      9
3              PNW      2
4            Earth     18

In [24]:
df_location_2 = df_location_2.sort_values(['count'], ascending=False)

In [28]:
df_loc_filter_2 = df_location_2[df_location_2['count'] > 10]

In [39]:
df_loc_filter_2 = df_loc_filter_2.dropna(axis=0)

df_loc_filter_2.head()

          locations  count
19    United States    326
18              USA    118
27       Texas, USA    105
0   California, USA    102
7      Florida, USA     95

## Getting the hashtags

In [30]:
# Extract hashtags and put them in a list
list_hashtag_strings = [entry for entry in tweets_2.hashtags]  
list_hashtag_lists = ast.literal_eval(','.join(list_hashtag_strings))  
hashtag_list = [ht.lower() for list_ in list_hashtag_lists for ht in list_]

# Count most common hashtags
counter_hashtags = Counter(hashtag_list)  
counter_hashtags.most_common(50)

[('ice', 77),
 ('racistpresident', 45),
 ('refugees', 37),
 ('saveali', 29),
 ('delaram', 27),
 ('iranianrefugeesinturkey', 23),
 ('iran', 19),
 ('trudeau', 18),
 ('iranian', 17),
 ('eu', 14),
 ('standwithlraqirefugees', 10),
 ('resettlement4iranian', 10),
 ('migrants', 10),
 ('libya', 10),
 ('standwithiraqirefugees', 9),
 ('thesquad', 9),
 ('canada', 8),
 ('forrefugees', 7),
 ('rohingya', 7),
 ('homeless', 6),
 ('humanrights', 6),
 ('asylum', 6),
 ('iranianrefugeeinturkey', 6),
 ('us', 6),
 ('resettlement', 6),
 ('americafirst', 5),
 ('syria', 5),
 ('mediterranean', 5),
 ('socialsecurity', 5),
 ('migration', 4),
 ('boycottamazon', 4),
 ('boycottprimeday', 4),
 ('ep', 4),
 ('greece', 4),
 ('yesdearleader', 4),
 ('turkey', 3),
 ('bangladesh', 3),
 ('internallydisplacedpersons', 3),
 ('presidenttrump', 3),
 ('williambila', 3),
 ('nosharia', 3),
 ('refugee', 3),
 ('iom', 3),
 ('women', 2),
 ('mmc', 2),
 ('withrefugees', 2),
 ('refugeeswelcome', 2),
 ('lgbt', 2),
 ('pakistan', 2),
 ('christian', 2)]

In [33]:
df_hashtags = pd.DataFrame.from_dict(counter_hashtags, orient='index').reset_index()
df_hashtags = df_hashtags.rename(columns={'index':'hashtags', 0:'count'})
df_hashtags.head()

                 hashtags  count
0  standwithlraqirefugees     10
1                 trudeau     18
2                   women      2
3                children      1
4                refugees     37

In [34]:
df_hashtags = df_hashtags.sort_values(['count'], ascending=False)

In [36]:
df_hashtags = df_hashtags[df_hashtags['count'] > 30]

In [38]:
df_hashtags.head()

            hashtags  count
145              ice     77
56   racistpresident     45
4           refugees     37

# User with most twits and followers

In [55]:
df_users_followers = tweets_2.loc[:, ['user_name', 'id', 'followers','tweet']]

In [56]:
df_users_followers.head()

,user_name,id,followers,tweet
0,cyelley,134876784,463,RT @charliekirk11: Did you know:\n\nThe govern...
1,metamancer,121989966,71,RT @charliekirk11: Did you know:\n\nThe govern...
2,balkees51046223,1081605573383282691,202,RT @5gBxizlCqzFrc3K: @Refugees @RefugeesChief ...
3,DoeAnon66,3164507364,209,RT @charliekirk11: Did you know:\n\nThe govern...
4,MyPrezTweets,758839025645989889,2618,RT @charliekirk11: Did you know:\n\nThe govern...

In [59]:
df_users_followers.groupby(['user_name']).

                           id  followers
user_name
0123missy        8.910378e+07      131.0
05Zine           4.085902e+08      448.0
0rangeMoose      1.210854e+09       27.0
104Crawford      4.228800e+09        4.0
10Harris76       2.585276e+08       30.0
1165R_USPatriot  3.578206e+08     1625.0
11XMaTriX        7.902069e+17      291.0
1200rGSrider     8.134842e+07    13220.0
123RHGreen       3.693456e+07      353.0
125atF56         1.148702e+18       13.0
12_misfit        8.174550e+08     1835.0
12retiredteach   1.018648e+18       47.0
1311hurley       2.423862e+09     1494.0
13BeachBum       8.069104e+17       23.0
15Getz15         3.301668e+09     4155.0
15mtnman         1.068653e+18      121.0
15zo6vette       8.008994e+17       75.0
16skip           7.925524e+17      105.0
1878flint        1.142602e+18        9.0
19501970saiints  7.989636e+17      130.0
1962Christian    3.362956e+09     1926.0
1965vmjw         8.163581e+17     1786.0
1AmericanWoman   5.425149e+07     3495.0
1EternalFamily   8.072427e+17       27.0
1NunderGod_Emly  9.828477e+08     5846.0
1RedPatriot      7.957725e+17     1357.0
1USAPROUD        3.286921e+09     2884.0
1_Snow_Princess  7.133927e+17    14720.0
1aaron_peterson  7.187720e+07       26.0
1bstrilla        5.811332e+08      917.0
...                       ...        ...
yescop33         8.629449e+08       25.0
yiayia1234       9.872200e+08    11299.0
ylarsen          2.001989e+08      212.0
ymandel          2.120102e+07      331.0
yohann1mm        9.213516e+08      158.0
yoho_terri       8.196482e+17      231.0
you_e_da         5.454600e+08      134.0
youngsteve98     7.220425e+17     1373.0
yoydoitwit2      3.194432e+08      542.0
yphillips135     5.739522e+09    21728.0
yuthxcru89       8.248479e+17      141.0
yvonnetrew       2.437502e+09     1102.0
z31r4m           2.817323e+09      446.0
zachariasd       7.113770e+07      166.0
zachrobert15     2.959046e+09      250.0
zackertonson     3.231909e+09     7749.0
zahadoom         3.932394e+07     2337.0
zara89006432     1.114961e+18       85.0
zeinabfarah__    9.828588e+17      107.0
zeldafanswag     2.348945e+09      194.0
zeli615          7.434903e+17      155.0
zen_garten       2.428765e+09       67.0
zerra12003       1.046635e+18       14.0
zierlich55       1.726281e+09    21366.0
ziggking         1.848186e+09      186.0
zionsongbird999  3.466341e+08       42.0
zoethehealer     1.871177e+07      596.0
zookeeperdan     1.530316e+07       40.0
ztrukj           7.491958e+07      334.0
zxox_            2.285956e+09      355.0

[8486 rows x 2 columns]